.continue {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
 }

.container {
  padding-top: 2em;
}

.edit-cart {
  display: flex;
}

.place-order form {
  display: flex;
  justify-content: flex-end;
}

.btn-block {
  margin-bottom: 3em;
}

.btn-block a {
  color: #0f606b;
}

.btn-block a:hover {
  color:white;
}

.btn-success {
  color: #0f606b;
  background-color: #a7d2dd;
  border-color: #a7d2dd;
  font-family: 'Comfortaa', cursive;;
}

.btn-success:hover {
  background-color: #f47068;
  border-color: #f47068;
}
