footer{

    height: 80px;
    background-color: #0f606b;
    background-image: url("https://www.transparenttextures.com/patterns/dark-circles.png");

}

div{
  color: wheat;
}

a{
  color: rgb(217, 238, 26);
}
