table {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// @media (min-width: 992px) {
//   .navbar-expand-lg .navbar-collapse {
//     -webkit-box-pack: end;
//     -ms-flex-pack: end;
//     justify-content: flex-end;
//   }
// }
