.restaurant-header {
  margin-top: 120px;
  height: 400px;
  background-color: #f7d6ff;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
