// See: https://sass-lang.com/

body {
  background-color: #fafbf5;

  h1, h2 {
    color:#0f606b;
    font-family: 'Comfortaa', cursive;
  }

  font-family: 'Roboto', sans-serif;
}

.btn-block a {
  color: #0f606b;
}

.btn-block a:hover {
  color:white;
}

.btn-success {
  color: white;
  background-color: #f47068;
  border-color: #f47068;
  font-family: 'Comfortaa', cursive;;
}

.btn-success:hover {
  color: #f47068;
  background-color: white;
  border-color: #f47068;
}
