// See: https://sass-lang.com/

body {
  background-color: rgba(167.0, 210.0, 221.0, .1);

  h1, h2 {
    color:#0f606b;
    font-family: 'Comfortaa', cursive;
  }

  font-family: 'Roboto', sans-serif;
}

.btn-block a {
  color: #0f606b;
}

.btn-block a:hover {
  color:white;
}

.btn-success {
  color: white;
  background-color: #0f606b;
  border-color: #0f606b;
  font-family: 'Comfortaa', cursive;;
}

.btn-success:hover {
  color: #0f606b;
  background-color: #a7d2dd;
  border-color: #0f606b;
}

.container h2 {
  background-color: #0f606b;
  color: white;
}
